.App {
  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
  grid-template-areas: 
  "heading"
  "search"
  "map";
  font-family: ‘DM Serif Display’, serif;
  margin: 0;
  padding: 0;
}

.heading { 
  grid-area: heading;
  border: solid red 1px;
  background-color: #3193DE;
  text-align: center;
  font-size: 1.5em;
  padding: 0px;
}

.search {
  justify-items: center;
  grid-area: search;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "text title"
  "searchBox buttons";
  border: solid blue 1px;
}

.title {
  grid-area: title;
  font-size: 2em;
  text-transform: capitalize;
}

.searchBox {
  grid-area: searchBox;
}

.searchBox input {
  font-size: 1.5em;
  height: 30%;
  width: 65%;
  font-family: ‘DM Serif Display’, serif;
  margin: 0;
}

.searchBox button {
  font-family: ‘DM Serif Display’, serif;
  height: 35%;
  width: 29%;
  margin: 0;
  padding: 0;
}

.text {
  grid-area: text;
  font-size: 1.5em;
  text-transform: capitalize;
  padding: 20px;
  text-align: center;
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  padding-right: 10px;
}

.button { 
  width: 20%;
  height: 50%;
  text-overflow: ellipsis;
}

.map {
  height: "100%";
  width: "100%";
  grid-area: map;
  border: solid yellow 1px;
}